:root {
  --bg-main: #050b18;
  --glass-bg: rgba(255, 255, 255, 0.05);
  --glass-border: rgba(125, 211, 252, 0.25);

  --blue-light: #7dd3fc;
  --blue-main: #38bdf8;

  --text-main: #e6f1ff;
  --text-muted: #8fb8ff;

  --radius-lg: 20px;
}
